$background-color-dark: #111010;
$heading-color: #FF8327;



form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-gap: 20px 40px;
  
  textarea,
  button {
    grid-column: span 2;
    background: $background-color-dark;
  }
  textarea {
    border: 1px solid $heading-color;
    width: 100%;
    height: 250px;
    resize: none;
    color: #fff;
    padding: 20px;
  }
  input {
    height: 50px;
    color: #fff;
    background: $background-color-dark;
    border: none;
    border-bottom: 1px solid $heading-color;
    padding: 10px;
  }
}