// styling the image in the header
header .headings {
  z-index: 2;
}
header {
  .headings {
    z-index: 2;
  }
  .image-container {
    width: 50%;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 100px;
    img {
      object-fit: cover;
    }
  }
}

// section-one styles

.section-one {
  background: $background-color-dark;
  color: $body-text-color;
  padding: 150px 0;
  font-family: $primary-font;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    li {
      width: 45%;
      padding: 20px 0;
      position: relative;
      i {
        font-size: 2.8rem;
        padding: 10px;
        border: 1px solid #BF2603;
        border-radius: 50%;
        background: #BF2603;
        position: absolute;
        left: -75px;
      }
      h2 {
        font-size: 6.8rem;
        letter-spacing: 2.2px;
      }
    }
  }
}


 // trying a grid for section two. commenting out above. 

.section-two {
  background-color: $background-color-red;
  // height: 80vh;
  .main-container {
    //background colours
    color: $body-text-color;
    // laying out the grid template
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    // positioning the elements
    .image-container + .text-container,
    .text-container + .image-container{
      grid-column: 3;
    }
    .text-container + .text-container {
      margin-left: auto;
      text-align: right;
    }
    .image-container + .text-container {
      margin-right: auto;
    }
    // general text container styles
    .text-container {
      margin: auto 0;
      padding: 75px 0;
      width: 90%;
      h2 {
        font-family: $primary-font;
        font-size: 6.8rem;
      }
      p {
        font-family: $primary-font;
        font-size: 3.8rem;
        margin: 10px 0;
      }
    }
    // some image object-fit/position to make the images look nice
    .image-container {
      position: relative;
      background-color: $background-color-red;
    }
    .image-container img{
      object-fit: cover;
      position: absolute; 
    }
    .image-container img {
      top: -25px;
      box-shadow: 20px 20px$heading-color;
    }
    .text-container + .image-container img {
      top: 25px;
      box-shadow: -20px 20px $heading-color;
    }
  }
}

  //banner image
  .image-container {
    background-color: $background-color-dark;
  }
  // section 3
  .section-three {
    padding: 100px 0;
    background-color: $background-color-dark;

    .text-container {
      text-align: center;
      h2 {
        font-family: $primary-font;
        font-size: $header-text-size;
        color: $heading-color;
      }
      p {
        font-family: $primary-font;
        font-size: $body-text-size;
        color: #fff;
      }
    }
  }

  //section 4

  .section-four{
    background-color: $background-color-dark;
    padding: 100px 0;
    .main-container {
      display: flex;
      justify-content: space-between;
      color: white;
      .text-container {
        width: 60%;
      }
      .image-container {
        width: 325px;
        height: 325px;
        box-shadow: -20px 20px $heading-color;
      }
      h2 {
        color: $heading-color;
      }
    }
  }

  //section five,3 images container.
  .section-five {
    background-color: $background-color-red;
    padding: 100px 0;
    .main-container {
      display: flex;
      justify-content: space-between;
      .image-container {
        width: 32%;
        transition: all .6s;
        &:hover {
          transform: scale(1.1);
        }
        img {
          object-fit: cover;
        }
      }
    }
  }

  //footer
  footer {
    background-color: $background-color-dark;
    padding: 20px 0;
  }