// section-one styles

.section-one {
  background: $background-color-dark;
  color: $body-text-color;
  padding: 200px 0;
  font-family: $primary-font;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 45%;
      h2 {
        font-size: 6.8rem;
        letter-spacing: 2.2px;
      }
      p {
        margin: 0;
        font-size: 3.9rem;
        line-height:30px;
        letter-spacing: 1.9px;
      }
    }
  }
}

.section-two {
  background: $background-color-red;
  color: $body-text-color;  
  .image-container {
    width: 40%;
  }
  .text-container {
    h2 {
      font-family: $primary-font;
      font-size:6.8rem;
    }
    p {
      font-family: $primary-font;
      font-size: $body-text-size;
    }
  }

}