
// colour variables
$body-text-color: #FFFFFF;
$heading-color: #FF8327;
$background-color-dark: #111010;
$background-color-red: #220303;
$button-color: #BF2603;

// font variables
// font-family: 'Chathura', sans-serif;
// font-family: 'Tulpen One', cursive;
$primary-font: 'Chathura', sans-serif;
$secondary-font: 'Tulpen One', cursive;
$body-text-size: 3.8rem;
$header-text-size: 6.8rem;

@import "setup";
@import "header";
@import "index";
@import "blog";
@import "form";
@import "contact";
@import "media-queries";

// button styles

.gen-button {
  font-family: $secondary-font;
  font-size: $body-text-size;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  padding: 0 25px;
  text-align: center;
  background-color: #BF2603;
  border: 0 solid $button-color;
  color: white;
  transition: all .5s;
  &:hover {
    transform: scale(1.1);
  }
}

h2 {
  font-family: $primary-font;
  font-size: $header-text-size;
  line-height: 58px;
}

p {
  font-family: $primary-font;
  font-size: $body-text-size;
  line-height:30px;
  letter-spacing: 1.9px;
}